@import "tailwindcss";

@theme{
    --color-bright-blue: hsl(220, 98%, 61%);
    --color-light-blue: hsl(220, 98%, 61%);
    --color-Very-Light-Gray: hsl(0, 0%, 98%);
    --color-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --color-Light-Grayish-Blue: hsl(233, 11%, 84%);
    --color-Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --color-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    --color-gradient-from: hsl(192, 100%, 67%) ;
    --color-gradient-to: hsl(280, 87%, 65%);
    
    --color-Very-Dark-Blue: hsl(235, 21%, 11%);
    --color-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --color-Light-Grayish-Blue-dark: hsl(234, 39%, 85%);
    --color-Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --color-Darker-Grayish-Blue: hsl(234, 11%, 52%);
    --color-Very-Dark-Grayish-Blue-dark: hsl(233, 14%, 35%);
    --color-Darkest-Grayish-Blue: hsl(237, 14%, 26%);

    --font-josefin: "Josefin Sans", sans-serif;
}